* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fefefe;
  display: flex;
  flex-direction: row;
}

/* ------------------- ALL ------------------- */

.icon {
  height: 1.875rem;
  width: 1.875rem;
}

/* ------------------- NAVBAR ------------------- */

nav {
  position: fixed;
  background-color: #ba62ff;
  border-right: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  border: none;
  border-radius: 0 30px 30px 0;
  padding: 1rem;
  width: 15rem;
  box-shadow: 4px 4px 10px #1e1e1e;
}

nav .logo {
  height: 7.5rem;
  width: 7.5rem;
  background-color: #fefefe;
  border-radius: 50%;
  margin-top: 2rem;
  padding: 2%;
  box-shadow: -1px -1px 10px #1e1e1e;
}

nav ul {
  margin-top: 3rem;
}

nav .btnNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
  outline: none;
}

nav .btnNav span {
  color: #fefefe;
  font-size: 1.125rem;
  font-weight: bold;
}

nav .deco {
  color: #fefefe;
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 5rem;
  background-color: #1e1e1e;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  box-shadow: 1px 1px 10px #1e1e1e;
}

/* ------------------- MAIN ------------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  margin-left: 15rem;
  width: 100%;
}

main .title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ba62ff;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.haut-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.input-haut-form {
  width: 28.8125rem;
  height: 4.375rem;
  flex-shrink: 0;
  border-radius: 30px;
  border: 3px solid #000;
  background: #ba62ff;
  color: #fefefe;
  font-size: 1.125rem;
  font-weight: bold;
  padding-left: 1rem;
}

.input-haut-form::placeholder {
  color: #fefefe;
  font-size: 1.125rem;
  font-weight: bold;
  padding-left: 1rem;
}

.haut-form .submit {
  width: 4.375rem;
  height: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 30px;
  border: 3px solid #000;
  background: #ba62ff;
  color: #fefefe;
  cursor: pointer;
}

.input-milieu-form {
  width: 65rem;
  height: 8rem;
  flex-shrink: 0;
  border-radius: 30px;
  border: 3px solid #000;
  background: #ba62ff;
  color: #fefefe;
  font-size: 1.125rem;
  font-weight: bold;
  padding-left: 1rem;
}

.input-milieu-form::placeholder {
  color: #fefefe;
  font-size: 1.125rem;
  font-weight: bold;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.pied-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.input-pied-form {
  width: 14.6rem;
  height: 4.375rem;
  flex-shrink: 0;
  border-radius: 30px;
  border: 3px solid #000;
  background: #ba62ff;
  color: #fefefe;
  font-size: 1.125rem;
  font-weight: bold;
  padding-left: 1rem;
  margin: 0 0.5rem 0 0;
}

.input-pied-form::placeholder {
  color: #fefefe;
  font-size: 1.125rem;
  font-weight: bold;
  padding-left: 1rem;
}

.img-profil {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.select-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#image-selector,
#image-selector2,
#image-selector3,
#image-selector4,
#image-selector5 {
  display: none;
}

#preview,
#preview2,
#preview3,
#preview4,
#preview5 {
  position: static;
  border-radius: 10%;
  width: 11.25rem;
  height: 11.25rem;
  margin: 0.6rem;
  /* background-size: cover; */
  object-fit: scale-down;
}

label {
  position: static;
  padding: 0.625rem 0.938rem;
  background-color: #ba62ff;
  border: 3px solid #000;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
}

/* ------------------- RESPONSIVE------------------- */

@media (max-width: 1400px) {
  body {
    display: flex;
    flex-direction: column;
  }
  nav {
    flex-direction: row;
    height: 15em;
    border-radius: 0;
    width: 100%;
    z-index: 1;
  }
  nav .logo {
    height: 3rem;
    width: 3rem;
    margin-top: 0;
    margin-left: 2rem;
  }
  nav ul {
    margin-top: 0;
    display: flex;
  }
  nav .btnNav {
    flex-direction: row;
    margin-left: 2rem;
    margin-top: 0;
  }
  nav .deco {
    margin-top: 10rem;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  
  main {
    margin-left: 0;
    margin-top: 15rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .haut-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;}

  .input-haut-form {
    width: 14.25rem;
    height: 4.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .input-milieu-form {
    width: 32rem;
    height: 8rem;
  }

  .pied-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .input-pied-form {
    width: 14.6rem;
    height: 4.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }

  .img-profil {
    flex-direction: row;
  }

  .select-img {
    flex-direction: column;
  }

  #preview , #preview2 , #preview3 , #preview4 , #preview5 {
    width: 6.25rem;
    height: 6.25rem;
  }

  label {
    position: static;
    padding: 0.625rem 0.938rem;
    background-color: #ba62ff;
    border: 3px solid #000;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    font-size: 0.5rem;
  }
}

@media (max-width: 700px) {
  nav {
    align-items: center;
    justify-content: center;
  }
  nav .logo {
    display: none;
  }
  nav ul {
    display: flex;
    margin-top: -3em;
    width: 100%;
    flex-wrap: wrap;
    gap: 2em;
  }

  main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 18rem;
    margin-left: 0;
    width: 100%;
  }

  .input-haut-form {
    width: 7.25rem;
    height: 4.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }

  .input-milieu-form {
    width: 15rem;
    height: 8rem;
  }

  .input-pied-form {
    width: 14.6rem;
    height: 4.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }

  .img-profil {
    flex-direction: column;
  }

  .select-img {
    flex-direction: column;
  }

  #preview , #preview2 , #preview3 , #preview4 , #preview5 {
    width: 10.25rem;
    height: 10.25rem;
  }

  label {
    position: static;
    padding: 0.625rem 0.938rem;
    background-color: #ba62ff;
    border: 3px solid #000;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    font-size: 0.8rem;
  }
  
}
