* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fefefe;
  display: flex;
  flex-direction: row;
}

/* ------------------- ALL ------------------- */

.icon {
  height: 1.875rem;
  width: 1.875rem;
}

/* ------------------- NAVBAR ------------------- */

nav {
  position: fixed;
  background-color: #ba62ff;
  border-right: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  border: none;
  border-radius: 0 30px 30px 0;
  padding: 1rem;
  width: 15rem;
  box-shadow: 4px 4px 10px #1e1e1e;
}

nav .logo {
  height: 7.5rem;
  width: 7.5rem;
  background-color: #fefefe;
  border-radius: 50%;
  margin-top: 2rem;
  padding: 2%;
  box-shadow: -1px -1px 10px #1e1e1e;
}

nav ul {
  margin-top: 3rem;
}

nav .btnNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
  outline: none;
}

nav .btnNav span {
  color: #fefefe;
  font-size: 1.125rem;
  font-weight: bold;
}

nav .deco {
  color: #fefefe;
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 5rem;
  background-color: #1e1e1e;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  box-shadow: 1px 1px 10px #1e1e1e;
}

/* ------------------- MAIN ------------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 15rem;
  width: 100%;
}

/* ------------------- CARD ------------------- */

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ba62ff;
  border-radius: 30px;
  border: #1e1e1e solid 5px;
  box-shadow: 4px 4px 10px #1e1e1e;
  margin: 2rem;
  padding: 1rem;
  height: 50rem;
  width: 90rem;

  color: #1e1e1e;
  font-size: 1.125rem;
  font-weight: bold;
}

.card .imgProfil {
  position: relative;
  height: 18.125rem;
  width: 14.375rem;
  background-color: #a1a1a1;
  border-radius: 30px;
  margin-right: 1rem;
  background-size: cover;
}

.card .cardInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-left: 1rem;
  height: 90%;
}

.card .cardInfo .title {
  color: #1e1e1e;
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.card .cardInfo .description {
  color: #1e1e1e;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}

.card .cardInfo .HouHouFaitLeHibou {
  color: #1e1e1e;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  width: 80%;
}

.card .pisctures {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.card .btnsCard {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
}

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 52.1rem 92rem 0 0;
  border-color: #fefefe transparent #1e1e1e transparent;
  position: absolute;
  border-radius: 25px 25px 0 28px;
}
